# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
.venv/
venv/
env/

# Pytest cache
.pytest_cache/

# Reports
reports/
*.html
# Logs
logs/
reports/screenshots/
# Screenshots
screenshots/
*.png

# OS files
.DS_Store
Thumbs.db

# IDE files
.vscode/
.idea/

# Coverage reports
htmlcov/
.coverage

# Build files
build/
dist/
*.egg-info/

# Temporary files
*.tmp
*.temp